.head {
  background-size: cover;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.7)), to(transparent)), url(../../Terracotta_Pairs_Project/Images/Homepage_Images/header_lobster.jpg);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent), url(../../Terracotta_Pairs_Project/Images/Homepage_Images/header_lobster.jpg);
}

.head .header_container {
  width: auto;
  padding: 0 25px;
  height: auto;
  color: white;
}

.head .header_container .top_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.head .header_container .top_container p {
  margin: 0;
}

.head .header_container .top_container .logo_container {
  margin-top: 40px;
  display: block;
}

.head .header_container .top_container .logo_container a {
  text-decoration: none;
}

.head .header_container .top_container .logo_container .logo_terra {
  text-transform: capitalize;
  font-family: 'la belle aurore';
  color: #af473d;
  font-size: 50px;
  height: 50px;
  line-height: 50px;
}

.head .header_container .top_container .logo_container .logo_catering {
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 2px;
  height: 30px;
  margin-top: -5px;
}

.head .header_container .top_container .logo_container p {
  margin: 0;
}

.head .header_container .top_container .contact_container p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.head .header_container .top_container .contact_container p i {
  padding-right: 10px;
}

.head .header_container .content_container {
  display: block;
  text-align: center;
}

.head .header_container .content_container .slogan {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.head .header_container .content_container .underline {
  display: none;
  width: 150px;
  height: 1px;
  background-color: white;
  content: "";
  margin-top: 30px;
  margin-left: auto;
  margin-right: 0px;
}

.head .header_container .content_container .book_button {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: auto;
  background-color: #af473d;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.head .header_container .content_container .book_button:hover {
  background-color: #7c332d;
}

.navigation_bar {
  width: auto;
  height: auto;
  color: white;
  padding: 0 25px;
  background-color: #af473d;
}

.navigation_bar .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation_bar .button_container a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  letter-spacing: 1px;
}

.footer .book_container {
  width: auto;
  height: auto;
  background-color: #3c3c3c;
  padding: 0 25px;
}

.footer .book_container .book_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer .book_container .book_now .book_text {
  display: block;
  color: white;
  text-align: center;
  padding: 0 40px;
  font-size: 20px;
}

.footer .book_container .book_now .book_now_button {
  display: block;
  width: 40%;
  padding: 20px;
  font-size: 20px;
  color: #af473d;
  background-color: white;
  color: #af473d;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto 20px;
}

.footer .book_container .book_now .book_now_button:hover {
  background-color: #af473d;
  color: white;
  text-decoration: none;
}

.footer .links_container {
  width: auto;
  height: auto;
  color: white;
  background-color: #af473d;
  padding: 20px;
}

.footer .links_container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .links_container .links .link_box {
  width: 100%;
}

.footer .links_container .links .link_box h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
}

.footer .links_container .links .link_box .underline {
  display: block;
  content: "";
  width: 40%;
  height: 1px;
  background-color: white;
  margin-bottom: 20px;
}

.footer .links_container .links .link_box p {
  display: block;
  width: 100%;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.footer .links_container .links .link_box a {
  margin-top: 5px;
  padding: 0;
  display: block;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}

.footer .links_container .links .link_box a i {
  margin-right: 15px;
}

.footer .links_container .links .link_box a:hover {
  text-decoration: underline;
}

.footer .links_container .copyright {
  margin-top: 30px;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.section_title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin: 25px 0 0;
  color: #af473d;
  font-size: 30px;
}

.header_underline {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  margin-top: 10px;
  background-color: black;
}

.description .description_width {
  width: auto;
  margin: 25px;
  padding: 0 10px;
  height: auto;
}

.description .description_width .description_title {
  color: #af473d;
}

.description .description_width .description_text {
  margin: 25px 0;
  font-size: 16px;
}

.description .description_width .description_text:last-of-type {
  display: none;
}

.services {
  margin-top: 75px;
}

.services .services_width {
  width: 100%;
  padding: 0 25px;
}

.services .services_width .card_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.services .services_width .card_container .card {
  display: block;
  width: auto;
  margin-top: 25px;
}

.services .services_width .card_container .card .card_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: auto;
}

.services .services_width .card_container .card .card_corporate {
  background-image: url(../Images/Homepage_Images/services_image_1.jpg);
}

.services .services_width .card_container .card .card_weddings {
  background-image: url(../Images/Homepage_Images/wedding_card_image.jpeg);
}

.services .services_width .card_container .card .card_events {
  background-image: url(../Images/Homepage_Images/events_card_image.jpg);
}

.services .services_width .card_container .card .card_title {
  text-transform: uppercase;
  text-align: center;
  color: #af473d;
  font-size: 24px;
}

.services .services_width .card_container .card .card_title_underline {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  margin-top: 0;
  background-color: black;
  margin: 0 auto 10px;
}

.services .services_width .card_container .card .card_text {
  text-align: center;
}

.services .services_width .card_container .card:first-of-type {
  margin-top: 0px;
}

.reviews {
  margin-top: 75px;
}

.reviews .background_image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../Images/Homepage_Images/quote_image_1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/Homepage_Images/quote_image_1.jpg);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews .background_image .text_container {
  width: 100%;
  height: 400px;
}

.reviews .background_image .text_container .quote_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 100%;
  height: 200px;
  padding: 25px 25px 0;
}

.reviews .background_image .text_container .quote_container i {
  display: inline-block;
  font-size: 20px;
  width: auto;
  margin: 0;
}

.reviews .background_image .text_container .quote_container .quote_left {
  padding-top: 40px;
}

.reviews .background_image .text_container .quote_container .quote_right {
  padding-top: 125px;
}

.reviews .background_image .text_container .quote_container .quote_content {
  text-align: center;
}

.reviews .background_image .text_container .quote_container .quote_content .quote {
  display: inline-block;
  text-align: center;
  width: auto;
  height: auto;
  padding: 30px 25px 0;
  margin: 0;
  font-size: 16px;
}

.reviews .background_image .text_container .quote_container .quote_content .quote_underline {
  content: "";
  display: inline-block;
  height: 1px;
  width: 33%;
  margin-top: 30px;
  background-color: white;
}

.reviews .background_image .text_container .quote_container .quote_content .quote_author {
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.partners {
  margin-top: 75px;
  display: none;
}

.partners .partners_width {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.partners .partners_width .partners_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
  height: auto;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
}

.partners .partners_width .partners_container .partner_card {
  display: block;
  width: 200px;
}

.partners .partners_width .partners_container .partner_card .card_image {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100px;
  width: 200px;
  overflow: hidden;
}

@media (min-width: 750px) {
  .description {
    margin-top: 50px;
  }
  .description .description_width {
    width: 750px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .description .description_width .description_text:last-of-type {
    display: block;
  }
  .section_title {
    font-size: 36px;
  }
  .header_underline {
    width: 185px;
  }
  .services .services_width {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px;
  }
  .services .services_width .card_container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  .services .services_width .card_container .card {
    display: block;
    width: 360px;
    padding: 0 0;
    margin-top: 0px;
  }
  .services .services_width .card_container .card .card_image {
    height: 202px;
    width: 360px;
  }
  .services .services_width .card_container .card .card_title {
    font-size: 24px;
  }
  .services .services_width .card_container .card:last-of-type {
    margin-top: 25px;
  }
  .reviews .background_image .text_container {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px;
  }
  .reviews .background_image .text_container .quote_container .quote_content .quote {
    font-size: 18px;
    padding: 30px 50px 0;
  }
  .reviews .background_image .text_container .quote_container .quote_content .quote_author {
    font-size: 16px;
  }
  .partners {
    display: block;
    padding: 0 8px;
  }
}

@media (min-width: 975px) {
  .description .description_width {
    width: 975px;
  }
  .services .services_width {
    width: 975px;
  }
  .services .services_width .card_container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services .services_width .card_container .card {
    width: 310px;
  }
  .services .services_width .card_container .card .card_image {
    height: 174px;
    width: 310px;
  }
  .services .services_width .card_container .card:last-of-type {
    margin-top: 0px;
  }
  .reviews .background_image .text_container {
    width: 950px;
  }
  .reviews .background_image .text_container .quote_container .quote_content .quote {
    font-size: 20px;
  }
  .reviews .background_image .text_container .quote_container .quote_content .quote_author {
    font-size: 18px;
  }
  .partners .partners_width {
    width: 975px;
  }
  .partners .partners_width .partners_container {
    width: 950px;
  }
  .partners .partners_width .partners_container .partner_card {
    width: 300px;
  }
  .partners .partners_width .partners_container .partner_card .card_image {
    height: 150px;
    width: 300px;
  }
}

@media (min-width: 1260px) {
  .description .description_width {
    width: 1260px;
  }
  .services .services_width {
    width: 1260px;
  }
  .services .services_width .card_container .card {
    width: 400px;
  }
  .services .services_width .card_container .card .card_image {
    height: 225px;
    width: 400px;
  }
  .reviews .background_image .text_container {
    width: 1200px;
  }
  .reviews .background_image .text_container .quote_container .quote_content .quote {
    font-size: 22px;
  }
  .reviews .background_image .text_container .quote_container .quote_content .quote_author {
    font-size: 18px;
  }
  .partners .partners_width {
    width: 1260px;
  }
  .partners .partners_width .partners_container {
    width: 1200px;
  }
  .partners .partners_width .partners_container .partner_card {
    width: 350px;
  }
  .partners .partners_width .partners_container .partner_card .card_image {
    height: 150px;
    width: 300px;
  }
}

@media (min-width: 750px) {
  .head .header_container {
    width: 750px;
    padding: 0 25px;
    margin: 0 auto;
  }
  .head .header_container .top_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
  }
  .head .header_container .top_container .logo_container {
    margin: 0;
    padding: 0;
  }
  .head .header_container .top_container .contact_container {
    width: auto;
  }
  .head .header_container .top_container .contact_container p {
    margin-top: 0;
    display: inline-block;
    margin-left: 20px;
  }
  .head .header_container .content_container {
    margin-left: auto;
    margin-right: 0px;
  }
  .head .header_container .content_container .slogan {
    margin: 0;
    margin-top: 20px;
  }
  .navigation_bar .button_container {
    width: 750px;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navigation_bar .button_container a {
    width: 25%;
  }
  .footer .book_container .book_now {
    width: 750px;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 0;
  }
  .footer .book_container .book_now .book_text {
    width: 70%;
    text-align: left;
    padding: 0;
  }
  .footer .book_container .book_now .book_now_button {
    width: auto;
    padding: 10px 25px;
    margin: auto 0;
  }
  .footer .links_container .links {
    width: 750px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .footer .links_container .links .link_box {
    width: 33%;
  }
  .footer .links_container .links .link_box .underline {
    width: 50%;
  }
  .footer .links_container .copyright {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
  }
}

@media (min-width: 975px) {
  .head {
    background-position: 40%;
    background-size: 100%;
  }
  .head .header_container {
    width: 955px;
  }
  .head .header_container .content_container {
    width: 40%;
    text-align: right;
  }
  .head .header_container .content_container .slogan {
    font-size: 40px;
    margin-top: 0px;
    letter-spacing: 3px;
  }
  .head .header_container .content_container .underline {
    display: block;
  }
  .head .header_container .content_container .book_button {
    padding: 10px 40px;
  }
  .navigation_bar .button_container {
    width: 955px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 10px;
  }
  @-moz-document {
    .navigation_bar .button_container {
      justify-content: end;
    }
  }
  .navigation_bar .button_container a {
    width: 20%;
    text-align: right;
    padding: 15px 0;
  }
  .footer .book_container .book_now {
    width: 955px;
  }
  .footer .book_container .book_now .book_text {
    width: 675px;
    padding-right: 50px;
    font-size: 20px;
  }
  .footer .book_container .book_now .book_now_button {
    width: 250px;
    padding: 10px 20px;
  }
  .footer .links_container .links {
    width: 955px;
  }
  .footer .links_container .links .link_box {
    width: 33%;
  }
  .footer .links_container .links .link_box .underline {
    width: 50%;
  }
}

@media (min-width: 1260px) {
  .head .header_container {
    width: 1240px;
  }
  .head .header_container .content_container .slogan {
    font-size: 50px;
  }
  .head .header_container .content_container .underline {
    margin-top: 0px;
  }
  .head .header_container .content_container .tagline {
    font-size: 29px;
  }
  .navigation_bar .button_container {
    width: 1240px;
  }
  .navigation_bar .button_container a {
    width: 200px;
  }
  .footer .book_container .book_now {
    width: 1240px;
  }
  .footer .book_container .book_now .book_text {
    width: 1010px;
    padding-right: 75px;
    font-size: 25px;
  }
  .footer .book_container .book_now .book_now_button {
    width: 250px;
    padding: 10px 20px;
  }
  .footer .links_container .links {
    width: 1240px;
  }
  .footer .links_container .links .link_box .underline {
    width: 50%;
  }
}
/*# sourceMappingURL=homepage_styles.css.map */