// Small : 750px
@media (min-width: 750px) {
    .description {
        .description_width {
            width: 725px;
            margin: 0 auto;
            padding: 0 10px;
            .form-cont {
                width: 620px;
                // height: auto;
                textarea {
                    width: 620px;
                }
                input[type=submit] {
                    width: 200px;
                    align-self: center;
                }
            }
        }
    }
    .map_container {
        margin-left: auto;
        margin-right: auto;
        width: 725px;
    }
    .t-and-c_container {
        width: 725px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Medium : 975px
@media (min-width: 975px) {
    .description {
        .description_width {
            width: 950px;
        }
    }
    .map_container {
        width: 950px;
    }
    .t-and-c_container {
        width: 950px;
    }
}

// Large : 1260px 
@media (min-width: 1260px) {
    .description {
        .description_width {
            width: 1235px;
        }
    }
    .map_container {
        width: 1235px;
    }
    .t-and-c_container {
        width: 1235px;
    }
}