@import "../_variables.scss";

@media (min-width: 750px) {

    .section_title {
        font-size: 36px;
    }

    .header_underline {
        width: 185px;
    }

    .about_us {
        .about_width {
            width: 725px;
            margin-left: auto;
            margin-right: auto;
            .content_container {
                margin: 25px 0;
                img {
                    padding-right: 20px;
                    display: block;
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .description_text {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    width: 500px;
                }
            }
        }
    }

    .our_history {
        margin-top: 50px;
        .history_width {
            width: 725px;
            margin-left: auto;
            margin-right: auto;
            .description_text:last-of-type {
                display: block;
            }
        }
    }

    .meet_the_team {
        .team_width {
            width: 725px;
            margin: 0 auto;
            .card_container {
                justify-content: space-between;
                .card {
                    width: 30%;
                }
            }
        }
    }
}

@media (min-width: 975px) {
    .about_us {
        .about_width {
            width: 950px;
            .content_container {
                img {
                    width: 300px;
                }
                .description_text {
                    width: 675px;
                }
            }
        }
    }

    .our_history {
        .history_width {
            width: 950px;
        }
    }

    .meet_the_team {
        .team_width {
            width: 950px;
            margin-bottom: 50px;
        }
    }
}

@media (min-width: 1260px) {
    .about_us {
        .about_width {
            width: 1235px;
            .content_container {
                img {
                    width: 300px;
                }
                .description_text {
                    width: 960px;
                }
            }
        }
    }

    .our_history {
        .history_width {
            width: 1235px;
        }
    }

    .meet_the_team {
        .team_width {
            width: 1235px;
        }
    }
}