@import "../variables";
@import "../header_footer_styles";

//Universal Styling
* { // This can replace the need of html and body, as this selects everything. 
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
html, body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// #region General Website Styles: header, header_underline
.section_title {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    margin: 25px 0 0;
    color: $terracotta_red;
    font-size: 30px;
}
.header_underline {
    content: "";
    display: block;
    height: 1px;
    width: 150px;
    margin-top: 10px;
    background-color: black;
}
// #endregion

.about_us {
    .about_width {
        width: auto;
        height: auto;
        margin: 25px;
        padding: 0 10px;
        .content_container {
            display: flex;
            flex-wrap: nowrap;
            img {
                display: none;
            }
            .description_text {
                // margin: 25px 0;
                font-size: 16px;
            }
        }
    }
}

.our_history {
    .history_width {
        width: auto;
        margin: 25px;
        height: auto;

        .description_text {
            margin: 25px 0;
            font-size: 16px;
        }
        .description_text:last-of-type {
            display: none;
        }
    }
}

.meet_the_team {
    margin-top: 50px;
    .team_width {
        width: auto;// temp
        padding: 0 10px;
        .card_container {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            justify-content: center;
            margin-top: 25px;
            .card {
                display: block;
                width: auto;
                // border: solid 1px red;
                justify-content: center;
                text-align: center;
                margin: 25px 0 0;
                padding: 0;
                .card_image {
                    display: inline-block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    .wide_image {
                        height: 200px;
                        width: auto;
                        overflow: hidden;                   
                    }
                    .tall_image {
                        height: auto;
                        overflow: hidden;
                        width: 200px;                  
                    }
                }
                .content {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    .card_name {
                        text-transform: capitalize;
                        font-size: 24px;
                    }
                    .card_name_underline {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 80%;
                        background-color: $terracotta_red_dark;
                        margin: 0 auto;
                    }
                    .card_title {
                        text-transform: uppercase;
                        color: $terracotta_red_dark;
                    }
                    .card_text {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@import "_about_media.scss";
@import "../_header_footer_media.scss";