// Small : 750px
@media (min-width: 750px) {
    .testimonials {
        .description_width {
            width: auto;
            margin: 25px auto;
            padding: 0 10px;
            height: auto; 
            .testimony-card {
                height: auto;
                padding: 0 25px;
                margin-top: 50px;
                flex-direction: row;
                .testimony_author {
                    margin-left: auto;
                    margin-right: auto;
                    .testimony-name {
                        margin-bottom: 0px;
                    }
                }
                .testimony_text {
                    margin-left: 25px;
                    margin-top: -75px;
                }
            }
        }
        .award-img-cont {
            .award_header {
                width: 750px;
                margin: 25px auto;
            }
            .award-carousel {
                height: 300px;
                width: 700px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

// Medium : 975px
@media (min-width: 975px) {
    .testimonials {
        .description_width {
            width: 975px;
            .testimony-p {
                display: block;
            }
        }
        .award-img-cont {
            .award_header {
                width: 975px;
            }
            .award-carousel {
                width: 925px;
            }
        }
    }
}

// Large : 1260px 
@media (min-width: 1260px) {
    .testimonials {
        .description_width {
            width: 1260px;
        }
        .award-img-cont {
            .award_header {
                width: 1260px;
            }
            .award-carousel {
                width: 1210px;
            }
        }
    }
}