@import "_variables.scss";

// Small : 750px
@media (min-width: 750px) {

    .header-banner {
        height: 475px;
        .header-cont {
            display: block;
            width: 346px;
            margin: auto;
            .head-contact {
                width: 370px;
                font-weight: 600;
                letter-spacing: 2px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.700);
                padding-top: 15px;
                margin-left: 135px;
            }
            .logo-cont {
                display: block;
                height: 100px;
                width: 200px;
                margin-top: -91px;
                margin-left: -215px;
            }
            .header-info {
                display: block;
                width: 429px;
                justify-content: end;
                margin-left: 73px;
                margin-top: -30px;
                margin-bottom: 75px;
                .index-banner-header {
                    align-self: flex-end;
                    font-size: 35px;
                    text-align: end;
                }
                .index-banner-line {
                    margin: auto;
                    margin-bottom: 20px;
                    margin-left: 328px;
                    width: 100px;
                }
                .index-banner-p{
                    text-align: end;
                    float: right;
                }
                .index-banner-button {
                    margin-left: 243px;
                }
            }
        }
    }
    
    .banner-submenu {
        background-color: $terracotta_red;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            margin-top: 31px;
            justify-content: center;
            margin-left: 189px;
            :first-child {
                margin-left: -45px;
            }
            li {
                padding: 10px 35px;
                border: none;
            }
        }
    }

    .footer-book-now {
        display: flex;
        flex-direction: column;
        background-color: #3c3c3c;
        color: #fff;
        align-items: center;
        .book-now-cont {
            width: 600px;
            padding: 20px;
            font-size: 16px;
            margin-left: 40px;
            button {
                color: $terracotta_red;
                font-size: 21px;
                font-weight: bold;
                padding: 10px 15px;
            }
        }
    }

    .footer-nav {
        background-color: $terracotta_red;
        color: #fff;
        margin-bottom: -20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .footer-nav {
            #contact-list,
            #sections-list,
            #follow-list {
                h2 {
                    text-transform: uppercase;
                    padding-top: 25px;
                }
                li {
                    list-style: none;
                }
                p {
                    padding: 10px;
                    font-size: 13px;
                    margin-top: 80px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

// Medium : 975px
@media (min-width: 975px) {

    .header-banner {
        .header-cont {
            width: 258px;
            .logo-cont {
                margin-left: -362px;
            }
            .header-info {
                .index-banner-p {
                    width: 270px;
                    font-size: 18px;
                }
            }
        }
    }
    
    .banner-submenu {
        ul {
            padding-left: 128px;
        }
    }

    .footer-book-now {
        height: 125px;
        .book-now-cont {
            flex-direction: row;
            width: 785px;
            text-align: left;
            font-size: 21px;
            margin-left: 0;
            margin-top: -7px;
            button {
                display: flex;
                width: 282px;
            }
        }
    }

    .footer-nav {
        #follow-list {
            margin-right: 100px;
        }
    }
}

// Large : 1260px
@media (min-width: 1260px) {

    .header-banner {
        .header-cont {
            .head-contact {
                margin-left: 355px;
            }
            .logo-cont {
                margin-left: -510px;
            }
            .header-info {
                width: 655px;
                .index-banner-header{
                    font-size: 40px;
                    letter-spacing: 6px;
                }
                .index-banner-line {
                    margin-left: 515px;
                    width: 130px;
                }
                .index-banner-p {
                    width: 347px;
                    letter-spacing: 2px;
                    font-size: 20px;
                    padding-right: 7px;
                }
                .index-banner-button {
                    margin-top: 20px;
                    margin-left: 449px;
                }
            }
        }
    }
    
    .banner-submenu {
        ul {
            padding-left: 515px;
            margin-top: -28px;
            li {
                padding: 10px 40px;
            }
        }
    }

    .footer-book-now {
        height: 150px;
        .book-now-cont {
            width: 1215px;
            margin-top: 10px;
            button {
                margin-left: 417px;
            }
        }
    }

    .footer-nav {
        padding: 0 270px;
        ul {
            width: 245px;
        }
    }
}