@import "_variables.scss";

// Small : 750px
@media (min-width: 750px) {

    .head {
        .header_container {
            // width: 750px;
            width: 725px;
            padding: 0 25px;
            margin: 0 auto;
            .top_container {
                flex-direction: row;
                justify-content: space-between;
                padding-top: 40px;
                .logo_container {
                    margin: 0;
                    padding: 0;
                }
                .contact_container {
                    width: auto;
                    p {
                        margin-top: 0;
                        display: inline-block;   
                        margin-left: 20px;   
                    }
                }
            }
            .content_container {
                margin-left: auto;
                margin-right: 0px;
                .slogan {
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }
    }

    .navigation_bar {
        .button_container { 
            width: 725px;
            margin: 0 auto;
            flex-wrap: nowrap;
            justify-content: space-around;
            a {
                width: 25%;
            }
        }
    }

    .footer {
        .book_container {
            // width: auto;
            width: 725px;
            margin: 0 auto;
            .book_now {
                // width: 725px;
                // margin: 0 auto;
                align-self: center;
                flex-direction: row;
                padding: 20px 0;
                .book_text {
                    width: 70%;
                    text-align: left;
                    // padding: 0;
                    padding-right: 25px;
                }
                .book_now_button {
                    width: 30%;
                    padding: 10px 25px;
                    margin: auto 0;
                }
            }
        }
        .links_box {
            .links_container {
                width: 725px;
                margin: 0 auto;
                .links {
                    // width: 725px;
                    justify-content: center;
                    margin: 0 auto;
                    .link_box {
                        width: 33%;
                        .underline {
                            width: 50%;
                        }
                    }
                }
                .copyright {
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-top: 50px;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Medium : 975px
@media (min-width: 975px) {
    .head {
        background-position: 40%;
        background-size: 100%;
        .header_container {
            width: 950px;
            .content_container {
                width: 40%;
                text-align: right;
                .slogan {
                    font-size: 40px;
                    margin-top: 0px;
                    letter-spacing: 3px;
                }
                .underline {
                    display: block;
                }
                .book_button {
                    padding: 10px 40px
                }
            }
        }
    }

    .navigation_bar {
        .button_container { 
            width: 950px;
            justify-content: flex-end;
            // padding: 0 10px;
            padding: 0 25px;
            @-moz-document {
                justify-content: end;
            }
            a {
                // width: 20%;
                width: auto;
                margin-left: 50px;
                text-align: right;
                padding: 15px 20px;
            }
        }
    }

    .footer {
        .book_container {
            width: 950px;
            .book_now {
                .book_text {
                    width: 675px;
                    padding-right: 50px;
                    font-size: 20px;
                }
                .book_now_button {
                    width: 250px;
                    padding: 10px 20px;
                }
            }
        }
        .links_box {
            .links_container {
                width: 950px;
                .links {
                    .link_box {
                        width: 33%;
                        .underline {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

// Large : 1260px
@media (min-width: 1260px) {

    .head {
        .header_container {
            width: 1235px;
            .content_container {
                // width: 30%;
                // text-align: right;
                .slogan {
                    font-size: 50px;
                    // margin: 0px;
                }
                .underline {
                    margin-top: 0px;
                }
                .tagline {
                    font-size:29px;
                }
            }
        }
    }

    .navigation_bar {
        .button_container { 
            width: 1235px;
            a {
                // width: 200px;
                width: auto;
            }
        }
    }

    .footer {
        .book_container {
            width: 1235px;
            // width: 1200px;
            .book_now {
                .book_text {
                    // width: 1010px;
                    width: auto;
                    // padding-right: 75px;
                    font-size: 25px;
                }
                .book_now_button {
                    width: 250px;
                    padding: 10px 20px;
                }
            }
        }
        .links_box {
            .links_container {
                width: 1235px;
                .links {
                    .link_box {
                        .underline {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}