


// Mobile : auto
// Small : 750px 725px
// Medium : 975px
// Large : 1260px 


@media (min-width: 750px) {

    .header-banner {
        position: relative;
        width: auto;
        height: 475px;
        background-size: cover;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.700), transparent),
                    url(../Images/header_lobster.jpg);
        color: white;        
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        .header-cont {
            display: block;
            width: 346px;
            margin: auto;
        }
        .head-contact {
            width: 400px;
            font-weight: 600;
            letter-spacing: 2px;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.700);
            padding-top: 15px;
            margin-left: 135px;
        }
        .logo-cont {
            display: block;
            height: 100px;
            width: 200px;
            margin-top: -70px;
            margin-left: -161px;
        }
        .header-info {
            display: block;
            width: 429px;
            justify-content: end;
            margin-left: 110px;
            margin-top: -30px;
            margin-bottom: 75px;
        }
        .index-banner-header {
            font-size: 38px;
            letter-spacing: 4px;
            width: 400px;
            text-align: end;
            font-weight: 600;
        }
        .index-banner-line {
            display: block;
            content: '';
            height: 1px;
            width: 125px;
            margin-left: 270px;
            background-color: white;
        }
        .index-banner-p {
            width: 295px;
            text-transform: none;
            text-align: end;
            font-size: 20px;
            margin-left: 100px;
        }
        .index-banner-button {
            background-color: $terracotta_red;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            border: none;
            font-size: 25px;
            padding: 10px;
            font-weight: 600;
            margin-left: 190px;
        }
    }
    
    .banner-submenu {
        background-color: $terracotta_red;
        margin-top: -23px;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            margin-top: 31px;
            justify-content: center;
            margin-left: 189px;
            li {
                padding: 10px 35px;
                border: none;
            }
        }
    }

    .description {
        margin-top: 50px;
        .description_width {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            .description_title {
                // margin: 25px;
                color: $terracotta_red;
            }
            .description_text:last-of-type {
                display: block;
            }
        }
    }
    
    .section_title {
        font-size: 36px;
    }

    .header_underline {
        width: 185px;
    }

    .services {
    .services_width {
        width: 750px;
        padding: 0 0;
        margin-left: auto;
        margin-right: auto;
        .card_container {
            justify-content: space-evenly;
            padding: 0;
            .card {
                display: block;
                width: 360px;
                padding: 0 0;
                margin-top: 0px;
                .card_image {
                    height: 202px;
                    width: 360px;
                }
                .card_title {
                    font-size: 24px;
                }  
            }
            .card:last-of-type {
                margin-top: 25px;
            }
        }
    }
    }

    .reviews {
        .background_image {
            .text_container {
                width: 750px;
                margin-left: auto;
                margin-right: auto;
                .quote_container {
                    .quote_content {
                        .quote {
                            font-size: 18px;
                        padding: 30px 50px 0;
                        }
                        .quote_author {                        
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .partners {
        display: block;
    }
    
    .footer-book-now {
        background-color: #3c3c3c;
        color: #fff;
        margin-bottom: -20px;
        .book-now-cont {
            text-align: center;
            width: 600px;
            padding: 20px;
            font-size: 16px;
            margin-left: 40px;
            button {
                color: $terracotta_red;
                font-size: 21px;
                font-weight: bold;
                padding: 10px 15px;
            }
        }
    }

    .footer-nav {
        background-color: $terracotta_red;
        color: #fff;
        margin-bottom: -20px;
        h2 {
            text-transform: uppercase;
            padding-top: 25px;
        }
        li {
            list-style: none;
        }
        p {
            padding: 10px;
            font-size: 13px;
            margin-top: 80px;
            display: flex;
            justify-content: center;
        }
        .footer-line {
            content: '';
            display: block;
            height: 1px;
            width: 97px;
            margin-top: 20px;
            margin-bottom: 30px;
            background-color: white;

        }
        #sections-list {
            margin-top: -258px;
            margin-left: 258px;
        }
        #follow-list {
            margin-top: -239px;
            margin-left: 483px;
        }
    }
}

// Medium : 975px
@media (min-width: 975px) {
    .header-banner {
        .header-cont {
            width: 258px;
        }
        .logo-cont {
            margin-left: -250px;
        }
    }
    
    .banner-submenu {
        ul {
            padding-left: 110px;
        }
    }

    .description {
        .description_width {
            width: 975px;
        }
    }

    .services {
        .services_width {
            width: 975px;
            .card_container {
                justify-content: space-between;
                .card {
                    width: 310px;
                    .card_image {
                        height: 174px;
                        width: 310px;
                    }
                }
                .card:last-of-type {
                    margin-top: 0px;
                }
            }
        }
    }

    .reviews {
        .background_image {
            .text_container {
                width: 950px;
                .quote_container {
                    .quote_content {
                        .quote {
                            font-size: 20px;
                        }
                        .quote_author {                        
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .partners {
        .partners_width {
            width: 975px;
            .partners_container {
                width: 950px;
                .partner_card {
                    width: 300px;
                    .card_image {
                        height: 150px;
                        width: 300px;
                    }
                }
            }
        }
    }

    .footer-book-now {
        height: 125px;
        .book-now-cont {
            text-align: left;
            font-size: 21px;
            margin-left: 85px;
            margin-top: -7px;
            button {
                display: flex;
                width: 140px;
                margin-left: 620px;
                margin-top: -82px;
            }
        }
    }

    .footer-nav {
        #contact-list {
            margin-left: 100px;
        }
        #sections-list {
            margin-left: 375px;
        }
        #follow-list {
            margin-left: 625px;
        }
    }
}

// Large : 1260px 
@media (min-width: 1260px) {

    .header-banner {
            .header-cont {
                width: 51px;
            }
            .logo-cont {
                margin-left: -456px;
            }
    }
    
    .banner-submenu {
        ul {
            justify-content: flex-end;
            margin-right: 112px;
            li {
                padding: 10px 40px;
            }
        }
    }

    .description {
        .description_width {
            width: 1260px;
        }
    }

    .services {
        .services_width {
            width: 1260px;
            .card_container {
                .card {
                    width: 400px;
                    .card_image {
                        height: 225px;
                        width: 400px;
                    }
                }
            }
        }
    }

    .reviews {
        .background_image {
            .text_container {
                width: 1200px;
                .quote_container {
                    .quote_content {
                        .quote {
                            font-size: 22px;
                        }
                        .quote_author {                        
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .partners {
        .partners_width {
            width: 1260px;
            .partners_container {
                width: 1200px;
                .partner_card {
                    width: 350px;
                    .card_image {
                        height: 150px;
                        width: 300px;
                    }
                }
            }
        }
    }

    .footer-book-now {
        height: 150px;
        .book-now-cont {
            margin-left: 137px;
            button {
                margin-left: 814px;
            }
        }
    }

    .footer-nav {
        #contact-list {
            margin-left: 118px;
        }
        #sections-list {
            margin-left: 525px;
        }
        #follow-list {
            margin-left: 922px;
        }
    }
}

// Full Screen: 1920px
@media (min-width: 1920px) {

    .header-banner {
        height: 492px;
        .head-contact {
            margin-left: 178px;
            font-size: 15px;
            width: 500px;
        }
        .logo-cont {
            margin-left: -600px;
            margin-bottom: 54px;
        }
        .index-banner-header {
            margin-left: -230px;
            width: 768px;
            letter-spacing: 12px;
        }
        .index-banner-line {
            margin-left: 398px;
        }
        .index-banner-p {
            margin-left: 225px;
        }
        .index-banner-button {
            margin-left: 348px;
            width: 172px;
        }
    }
    
    .banner-submenu {
        ul {
            margin-right: 0px;
            padding-right: 321px;
            li {
                padding: 10px 40px;
            }
        }
    }  

    .footer-book-now {
        height: 150px;
        .book-now-cont {
            margin-left: 321px;
            button {
                margin-left: 1084px;
            }
        }
    }

    .footer-nav {
        #contact-list {
            margin-left: 300px;
        }
        #sections-list {
            margin-left: 825px;
        }
        #follow-list {
            margin-left: 1377px;
        }
    }
}