


// Mobile : auto
// Small : 750px 725px
// Medium : 975px
// Large : 1260px 


@media (min-width: 750px) {

    .head {
        .header_container {
            width: 750px;
            padding: 0 10px;
            margin: 0 auto;
            .top_container {
                flex-direction: row;
                justify-content: space-between;
                padding-top: 40px;
                .logo_container {
                    margin: 0;
                    padding: 0;
                }
                .contact_container {
                    width: auto;
                    p {
                        margin-top: 0;
                        display: inline-block;   
                        margin-left: 20px;   
                    }
                }
            }
            .content_container {
                margin-left: auto;
                margin-right: 0px;
                .slogan {
                    margin: 0;
                    margin-top: 20px;
                }
            }
        }
    }

    .navigation_bar {
        .button_container { 
            width: 750px;
            margin: 0 auto;
            flex-wrap: nowrap;
            justify-content: space-around;
            a {
                width: 25%;
            }
        }
    }

    .description {
        // margin-top: 50px;
        .description_width {
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            // margin-top: 100px;
            .description_title {
                // margin: 25px;
                color: $terracotta_red;
            }
            .description_text:last-of-type {
                display: block;
            }
        }
    }
    
    .section_title {
        font-size: 36px;
    }

    .header_underline {
        width: 185px;
    }

    .services {
    .services_width {
        width: 750px;
        // padding: 0 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0 8px;
        .card_container {
            justify-content: space-evenly;
            padding: 0;
            .card {
                display: block;
                width: 360px;
                padding: 0 0;
                margin-top: 0px;
                .card_image {
                    height: 202px;
                    width: 360px;
                }
                .card_title {
                    font-size: 24px;
                }  
            }
            .card:last-of-type {
                margin-top: 25px;
            }
        }
    }
    }

    .reviews {
        .background_image {
            .text_container {
                width: 750px;
                margin-left: auto;
                margin-right: auto;
                padding: 0 8px;
                .quote_container {
                    .quote_content {
                        .quote {
                            font-size: 18px;
                        padding: 30px 50px 0;
                        }
                        .quote_author {                        
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .partners {
        display: block;
        padding: 0 8px;
    }
    
    .footer-book-now {
        background-color: #3c3c3c;
        color: #fff;
        margin-bottom: -20px;
        .book-now-cont {
            text-align: center;
            width: 600px;
            padding: 20px;
            font-size: 16px;
            margin-left: 40px;
            button {
                color: $terracotta_red;
                font-size: 21px;
                font-weight: bold;
                padding: 10px 15px;
            }
        }
    }

    .footer-nav {
        background-color: $terracotta_red;
        color: #fff;
        margin-bottom: -20px;
        h2 {
            text-transform: uppercase;
            padding-top: 25px;
        }
        li {
            list-style: none;
        }
        p {
            padding: 10px;
            font-size: 13px;
            margin-top: 80px;
            display: flex;
            justify-content: center;
        }
        .footer-line {
            content: '';
            display: block;
            height: 1px;
            width: 97px;
            margin-top: 20px;
            margin-bottom: 30px;
            background-color: white;

        }
        #sections-list {
            margin-top: -258px;
            margin-left: 258px;
        }
        #follow-list {
            margin-top: -239px;
            margin-left: 483px;
        }
    }
}

// Medium : 975px
@media (min-width: 975px) {

    .head {
        background-position: 40%;
        background-size: 100%;
        .header_container {
            width: 975px;
            .content_container {
                width: 40%;
                text-align: right;
                .slogan {
                    font-size: 40px;
                    margin-top: 0px;
                    letter-spacing: 3px;
                }
                .underline {
                    display: block;
                }
                .book_button {
                    padding: 10px 40px
                }
            }
        }
    }

    .navigation_bar {
        .button_container { 
            width: 975px;
            justify-content: end;
            padding: 0 10px;
            a {
                width: 20%;
                text-align: right;
                padding: 15px 0;
            }
        }
    }

    .description {
        .description_width {
            width: 975px;
        }
    }

    .services {
        .services_width {
            width: 975px;
            .card_container {
                justify-content: space-between;
                .card {
                    width: 310px;
                    .card_image {
                        height: 174px;
                        width: 310px;
                    }
                }
                .card:last-of-type {
                    margin-top: 0px;
                }
            }
        }
    }

    .reviews {
        .background_image {
            .text_container {
                width: 950px;
                .quote_container {
                    .quote_content {
                        .quote {
                            font-size: 20px;
                        }
                        .quote_author {                        
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .partners {
        .partners_width {
            width: 975px;
            .partners_container {
                width: 950px;
                .partner_card {
                    width: 300px;
                    .card_image {
                        height: 150px;
                        width: 300px;
                    }
                }
            }
        }
    }

    .footer-book-now {
        height: 125px;
        .book-now-cont {
            text-align: left;
            font-size: 21px;
            margin-left: 85px;
            margin-top: -7px;
            button {
                display: flex;
                width: 140px;
                margin-left: 620px;
                margin-top: -82px;
            }
        }
    }

    .footer-nav {
        #contact-list {
            margin-left: 100px;
        }
        #sections-list {
            margin-left: 375px;
        }
        #follow-list {
            margin-left: 625px;
        }
    }
}

// Large : 1260px 
@media (min-width: 1260px) {

    .head {
        .header_container {
            width: 1260px;
            .content_container {
                // width: 30%;
                // text-align: right;
                .slogan {
                    font-size: 50px;
                    // margin: 0px;
                }
                .underline {
                    margin-top: 0px;
                }
                .tagline {
                    font-size:29px;
                }
            }
        }
    }

    .navigation_bar {
        .button_container { 
            width: 1260px;
            a {
                width: 200px;
            }
        }
    }

    .description {
        .description_width {
            width: 1260px;
        }
    }

    .services {
        .services_width {
            width: 1260px;
            .card_container {
                .card {
                    width: 400px;
                    .card_image {
                        height: 225px;
                        width: 400px;
                    }
                }
            }
        }
    }

    .reviews {
        .background_image {
            .text_container {
                width: 1200px;
                .quote_container {
                    .quote_content {
                        .quote {
                            font-size: 22px;
                        }
                        .quote_author {                        
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .partners {
        .partners_width {
            width: 1260px;
            .partners_container {
                width: 1200px;
                .partner_card {
                    width: 350px;
                    .card_image {
                        height: 150px;
                        width: 300px;
                    }
                }
            }
        }
    }

    .footer-book-now {
        height: 150px;
        .book-now-cont {
            margin-left: 137px;
            button {
                margin-left: 814px;
            }
        }
    }

    .footer-nav {
        #contact-list {
            margin-left: 118px;
        }
        #sections-list {
            margin-left: 525px;
        }
        #follow-list {
            margin-left: 922px;
        }
    }
}

// Full Screen: 1920px
// @media (min-width: 1920px) {

//     .footer-book-now {
//         height: 150px;
//         .book-now-cont {
//             margin-left: 321px;
//             button {
//                 margin-left: 1084px;
//             }
//         }
//     }

//     .footer-nav {
//         #contact-list {
//             margin-left: 300px;
//         }
//         #sections-list {
//             margin-left: 825px;
//         }
//         #follow-list {
//             margin-left: 1377px;
//         }
//     }
// }