@import "_variables.scss";
@import "_mixins.scss";

//Universal Styling
* { // This can replace the need of html and body, as this selects everything. 
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
html, body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // width:100%;
    // height: 100%;
    // overflow-x: hidden;
}
// html, body {
//     width:100%;
//     height: 100%;
//     overflow-x: hidden;
//     margin: 0;
//     margin-top: -8px;
//     padding: 0;
// }

.head {
    background-size: cover;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.700), transparent),
                url(../Images/header_lobster.jpg);
    .header_container {
        width: auto;
        height: auto;
        color: white;
        .top_container {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            align-content: center;
            text-align: center;
            p {
                margin: 0;
            }
            .logo_container {
                margin-top: 20px;
                display: block;
                .logo_terra {
                    text-transform: capitalize;
                    font-family: 'la belle aurore';
                    color: $terracotta_red;
                    font-size: 50px;
                    height: 60px;
                }
                .logo_catering {
                    color: black;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 30px;
                    letter-spacing: 2px;
                }
                p {
                    margin: 0;
                }
            }
            .contact_container {
                p {
                    margin-top: 10px;
                    i {
                        padding-right: 10px;
                    }
                }
            }
        }
        .content_container {
            display: block;
            text-align: center;
            .slogan {
                font-size: 30px;
                font-weight: 800;
            }
            .underline {
                display: none;
                width: 200px;
                height: 1px;
                background-color: white;
                content: "";
                margin: 0 auto;
            }
            .tagline {
            }
            .book_button {
                color: white;
                text-decoration: none;
                display: inline-block;
                width: auto;
                background-color: $terracotta_red;
                font-size: 20px;
                font-weight: 600;
                padding: 20px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .book_button:hover {
                background-color: $terracotta_red_dark;
            }
        }
    }
}
.navigation_bar {
    width: auto;
    height: auto;
    color: white;
    background-color: $terracotta_red;
    border-top: solid 1px white;
    .button_container { 
        display: flex;
        flex-wrap: wrap;
        a {
            color: white;
            text-transform: uppercase;
            text-align: center;
            display: block;
            width: 100%;
            padding: 10px;
            text-decoration: none;
        }
        a:hover {
            background-color: $terracotta_red_dark;
        }
    }
}
//Header Styling
// #region
// .header-banner {
//     position: relative;
//     width: auto;
//     height: 455px;
//     background-size: cover;
//     background: linear-gradient(to left, rgba(0, 0, 0, 0.700), transparent),
//                 url(../Images/header_lobster.jpg);
//     color: white;        
//     text-transform: uppercase;
//     text-align: center;
//     font-weight: bold;
//     .header-cont {
//         display: block;
//         width: 346px;
//         margin: auto;
//     }
//     .head-contact {
//         font-weight: 600;
//         letter-spacing: 2px;
//         text-shadow: 1px 1px rgba(0, 0, 0, 0.700);
//         padding-top: 15px;
//         font-size: 12px;
//     }
//     .logo-aurore {
//         font-family: 'la belle aurore', sans-serif;
//         text-transform: capitalize;
//         color: $terracotta_red;
//         font-size: 50px;
//         margin-bottom: -56px;
//         margin-top: 47px;
//         text-shadow: 1px 1px rgba(0, 0, 0, 0.700);
//     }
//     .logo-montserrat {
//         color: black;
//         font-weight: 600;
//         font-size: 30px;
//         letter-spacing: 2px;
//     }
//     .index-banner-header {
//         font-size: 23px;
//         font-weight: 600;
//     }
//     .index-banner-line {
//         display: block;
//         content: '';
//         height: 1px;
//         width: 200px;
//         margin: auto;
//         margin-top: 20px;
//         margin-bottom: 30px;
//         background-color: white;
//     }
//     .index-banner-p {
//         width: 322px;
//         margin: auto;
//         margin-bottom: 30px;
//         text-transform: none;
//         line-height: 25px;
//     }
//     .index-banner-button {
//         background-color: $terracotta_red;
//         color: white;
//         text-decoration: none;
//         text-transform: uppercase;
//         border: none;
//         font-size: 25px;
//         padding: 10px;
//         font-weight: 600;
//     }
// }

// .banner-submenu {
//     background-color: $terracotta_red;
//     ul {
//         display: flex;
//         flex-direction: column;
//         flex-wrap: wrap;
//         list-style: none;
//         margin-top: 31px;
//         :first-child {
//             margin-left: -40px;
//         }
//         li {
//             margin-left: -40px;
//             padding: 15px 10px;
//             border-top: 1px solid white;
//         }
//     }
// }
// #endregion
// #region General Website Styles: header, header_underline
.section_title {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    margin: 25px 0 0;
    color: $terracotta_red;
    font-size: 30px;
}
.header_underline {
    content: "";
    display: block;
    height: 1px;
    width: 150px;
    margin-top: 10px;
    background-color: black;
}
// #endregion
        
.description {
    .description_width {
        width: auto;
        margin: 25px;
        height: auto; 

        .description_text {
            margin: 25px 0;
            font-size: 16px;
        }
        .description_text:last-of-type {
            display: none;
        }
    }
}

.services {
        margin-top: 75px;
    .services_width {
        width: 100%;
        padding: 0 25px;
        .card_container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 25px;
            .card {
                display: block;
                width: auto;
                margin-top: 25px;
                .card_image {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 250px;
                    width: auto;
                }
                .card_corporate {
                    background-image: url(../Images/services_image_1.jpg);
                }
                .card_weddings {
                    background-image: url(../Images/wedding_card_image.jpeg);
                }
                .card_events {
                    background-image: url(../Images/events_card_image.jpg);
                }
                .card_title {
                    text-transform: uppercase;
                    text-align: center;
                    color: $terracotta_red;
                    font-size: 24px;
                }
                .card_title_underline {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100px;
                    margin-top: 0;
                    background-color: black;
                    margin: 0 auto 10px;
                }         
                .card_text {
                    text-align: center;
                }    
            }
            .card:first-of-type {
                margin-top: 0px;
            }
        }
    }
}

.reviews {
    margin-top: 75px;
    .background_image {
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../Images/quote_image_1.jpg); 
        width: 100%;
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .text_container {
            width: 100%;
            height: 400px;
            .quote_container {
                display: flex;
                color: white;
                width: 100%;
                height: 200px;
                padding: 25px 25px 0;
                i {
                    display: inline-block;
                    font-size: 20px;
                    width: auto;
                    margin: 0;
                }
                .quote_left {
                    padding-top: 40px
                }
                .quote_right {
                    padding-top: 125px;
                }
                .quote_content {
                    text-align: center;
                    .quote {
                        display: inline-block;
                        text-align: center;
                        width: auto;
                        height: auto;
                        padding: 30px 25px 0;
                        margin: 0;
                        font-size: 16px;
                    }
                    .quote_underline {
                        content: "";
                        display: inline-block;
                        height: 1px;
                        width: 33%;
                        margin-top: 30px;
                        background-color: white;
                    }
                    .quote_author {                        
                        margin-top: 20px;
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

.partners {
    margin-top: 75px;
    display: none;
    .partners_width {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
        .partners_container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 750px;
            height: auto;
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            .partner_card {
                display: block;
                width: 200px;
                .card_image {
                    object-fit: contain;
                    height: 100px;
                    width: 200px;
                    overflow: hidden;
                }
            }
        }
    }
}

// Footer Styling
.footer-nav {
    background-color: $terracotta_red;
    color: #fff;
    margin-bottom: -20px;
    h2 {
        text-transform: uppercase;
        padding-top: 15px;
    }
    li {
        list-style: none;
    }
    p {
        padding: 10px;
        font-size: 13px;
    }
    .footer-line {
        content: '';
        display: block;
        height: 1px;
        width: 97px;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: white;

    }
}

.footer-book-now {
    background-color: #3c3c3c;
    color: #fff;
    margin-bottom: -20px;
    .book-now-cont {
        text-align: center;
        width: auto;
        padding: 20px;
        font-size: 16px;
        button {
            color: $terracotta_red;
            font-size: 21px;
            font-weight: bold;
            padding: 10px 15px;
        }
    }
}

@import "_media.scss";